html, body {
    height: 100%;
    margin: 0;
}

.nz-content {
    text-align: center;      /* centra el texto horizontalmente */
    margin-top: 40px;        /* ajusta este valor según lo alto que lo quieras */
}

h2 {
    display: inline-block;
    margin: 0;
    font-size: 36px;  /* tamaño de fuente grande */
    color: red;
}